version: '3.8'
services:
  db:
    image: mysql:8.3
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_DATABASE=e-learning-dev
      - MYSQL_ROOT_PASSWORD=12345678
    ports:
      - '3306:3306'
    volumes:
      - db:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    container_name: e-learning-api-test
    build:
      context: .
  #     target: development
  #   image: e-learning-api
    depends_on:
      - db
    ports:
      - 8091:3000
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: 12345678
      DB_NAME: e-learning-dev
    links:
      - db
    # volumes:
    #   - ./:/app

            
volumes:
  db:
    driver: local